<div class="pull-right">
  <%= link_to (fa_icon "plus", :text => "Add new image"), new_image_path %>
  <%= link_to (fa_icon "eye", :text => "List images"), images_path %>
</div>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
