/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a:hover {
  background: inherit;
}

fieldset {
  margin-top: 20px;
}

#preview_image {
  max-width:100%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 20px;
}
.image-box > div {
  padding-top: 10px;
  background: #E4F1FE;
  box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  overflow:hidden;
  text-align: left;

  &:hover {
    box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-weight: bold;
    text-align: center !important;
    padding: 3px 0px;
    margin: 5px 0 0 0;
  }
  
  hr {
    margin: 0px;
  }

  .image-thumb {
    padding: 0px;
    margin: 0px;
    width:100%;
    overflow: hidden;
    position: relative;
    height: 170px;

    img {
      max-width:100%;
      width: 100%;
    }

    &:hover ul {
      bottom:0px;
    }

    ul{
      position: absolute;
      z-index: 99;
      bottom: -60px;
      right: 10px;
      text-align:right;
      list-style: none;
      transition: all 0.1s;

      &> li {
        display: inline-block;

        a {
          color: #000;

          &:hover {
            color: #777;
          }
        }
      }
    }
  }
}

#top-menu {
  text-align:center;
  box-shadow: 0 1px 0 0px rgba(0,0,0,0.02),0 0px 7px 0px rgba(0,0,0,0.1);
  padding: 10px;

  img {
    max-width:40px;
  }
}

#slider {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  position: relative;
  -webkit-box-shadow: 0 2px 8px #ccc;
  -moz-box-shadow: 0 2px 8px #ccc #ccc;
  box-shadow: 0 2px 8px #ccc #ccc;
  
  .images {
    overflow: hidden;
    height: 400px;

    img {
      margin: 0 auto;
      max-width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -400px;
      opacity: 0;
    }
  }
  
  #count {
    padding-top: 20px;
  }

  .arrow {
    position: absolute;
    top:40%;
    cursor: pointer;

    &.arrow-left {
      left:0px;
    }

    &.arrow-right {
      right:0px;
    }
  }
}

@media (max-width: 768px) {
  #slider .arrow {
    width: 60px;
  }
}

@media (max-width: 480px) {
  #slider .arrow {
    width: 40px;
  }
}